<!doctype html>
<html lang="en">

<head>
    {% load static %}

    <link rel="stylesheet" href="{%static '/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static '/css/index.css' %}">

    <link rel="icon" type="image/png" href="{%static "images/logo.svg" %}">

    <script src="{%static '/bootstrap/js/bootstrap.js' %}"></script>
    {% block header %}{% endblock header %}

    <meta charset="UTF-8">
	<meta name="description" content="Ein blitzschneller und portabler Trainer im Web und in der App.">
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amateurfunktrainer</title>
</head>

<body>
	{% block nav %} {% endblock %}
    {% block content %}{% endblock content %}
    <footer class="text-center bg-light text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
            © 2021 Copyright: 
            <a href="https://matrix.to/#/@hn7x5:darc.de"> Konrad DK7ON</a>
        </div>
    </footer>
    </body>
    
    </html>