{% extends "components/base.html" %}

{% block content %}
	<div class="bg-dark bg-gradient container-fluid justify-content-between">
		<br>
		<div class="row">
			<h1 id="message" class="mx-3 message text-capitalize fw-bold text-white col-md-4">Hi, {{ username }} 👋.</h1>
			<div class="col-sm-2 align-content-end "><button class="mb-2 btn btn-outline-light"> Profil</button></div>
		</div>
		<br>
	</div>
	<br>

	<div class="m-4">
		<div class="card container-fluid justify-content-center">
		<h2 class="m-3 border-bottom fw-bolder">
		Als nächstes lernen:
		</h2>

	<div class="container-fluid">
			<div class="row align-items-start">
		{% for i in chapters %}
			<div class="col-md-6 mb-3">
				<form method="post" action=".">
					{% csrf_token %}

					<div class="card ">
						<div class="card-title m-2">
							<div class="row g-3">
							<div class="col-10">
								<h4>{{ i.chaptername }}</h4>
								<br>
								<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>								</div>
								</div>
							<div class="col-xl-2">
								<input type="hidden" name="chapter" value="{{ i.chaptername }}">
								<button type="submit" class="btn btn-primary ">Lernen</button>
							</div>
						</div>
						</div>
						<div class="card-footer">{{ i.category }}</div>
					</div>
				</form>
			</div>
		{% endfor %}
		<div class="container-fluid m-2">
			<a href="#" class="link-primary" class="btn solar-blue">mehr anzeigen</a>
			<br>
		</div>
		</div>
	</div>

	</div>

	</div>
	<div class="card m-4">
		<div class="container m-4 px-1 py-1 " id="featured-3">
		<h2 class="pb-2 border-bottom fw-bolder">Aktuelle Informationen:</h2>
		<br>
		<div class="row justify-content-center">
		{% for i in news %}
		<div class="col-md-6 mb-3">
		<div class="card ">
			<div class="card-header">
				{{ i.category }}
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ i.title }}</h5>
				<p class="card-text"> {{ i.content }}</p>
			</div>

		</div>
		</div>

		{% endfor %}
	</div>
		</div>
	</div>
	<br>

{% endblock %}
