{% extends "components/base.html" %}
{% load static %}
{% block header %}
		{% if i.fields.category == "" %}

	    <script src="{%static '/pdfjs/build/pdf.js' %}"></script>
		<link rel="stylesheet" href="{%static '/pdfjs/web/viewer.css' %}">
		{% endif %}
		<style>
			body{
				background: rgba(0,0,0,0.04);
			}
		</style>
{% endblock %}
{% block content %}
<br>
<div class="container-xxl">
	<div class="card">

	<div class="card-body">
		<div class="card-body">
			<h2 class="card-title "> {{ question.question }}</h2>
			<br>
			<form class="row g-4" action="/result/" method="post">
					{% csrf_token %}

					<input accesskey="1" type="radio" class="btn-check" name="options" value="{{ question.answer0 }}" id="option1" autocomplete="off">
					<label class="btn btn-outline-dark fs-5" for="option1">{{ question.answer0 }}</label>

					<input accesskey="2" type="radio" class="btn-check" name="options" value="{{ question.answer1 }}" id="option2" autocomplete="off">
					<label class="btn btn-outline-dark  fs-5" for="option2">{{ question.answer1 }}</label>

					<input accesskey="3" type="radio" class="btn-check" name="options" value="{{ question.answer2 }}" id="option3" autocomplete="off">
					<label class="btn btn-outline-dark fs-5" for="option3">{{ question.answer2 }}</label>

					<input accesskey="4" type="radio" class="btn-check" name="options" value="{{ question.answer3 }}" id="option4" autocomplete="off">
					<label class="btn btn-outline-dark fs-5" for="option4">{{ question.answer3 }}</label>
				<button type="submit" value="option4" class="btn btn-primary mb-3 fs-4">Prüfen</button>
			</form>
		</div>
		<div class="card-footer">
			{{ question }}

		</div>
		</div>

	</div>

</div>
	{% if i.fields.category == "" %}

	<h2 class=" m-3 pb-2 border-bottom">Formelsammlung</h2>
	<div class="ratio ratio-1x1">
		<iframe id="pdf-js-viewer" src="{% static "/pdfjs/web/viewer.html" %}" title="webviewer"></iframe>
	</div>

{% endif %}

<br>

{% endblock content %}