{% extends "components/base.html" %}
{% block content %}
{% if correct %}
	<div class="container-fluid justify-content-center text-center bg-success bg-gradient ">

		<h1 class=" fw-bold p-5">Richtig! 🎉</h1>
	</div>
	<div class="container-sm text-center justify-content-center">
	<blockquote class="blockquote">
		<p>{{ correct_answer }}</p>
	</blockquote>
	<figcaption class="blockquote-footer">
		{{ id }}
	</figcaption>
	<form method="post" action="/question/">
		{% csrf_token %}
		<input type="hidden" name="id" value="{{ id }}">

		<input type="hidden" name="correct" value="{{ correct }}">
  		<button type="submit" class="btn btn-success px-5">Weiter</button>
	</form>
	<br>
	</div>
<br>
	{% else %}
	<div class="container-fluid justify-content-center text-center bg-danger bg-gradient ">

		<h1 class=" fw-bold p-5">Falsch! 👀</h1>
	</div>
	<div class="container-sm text-center justify-content-center">
	<h3 class="fw-bolder">richtig wäre:</h3>
	<blockquote class="blockquote">
		<p>{{ correct_answer }}</p>
	</blockquote>
	<figcaption class="blockquote-footer">
		{{ id }}
	</figcaption>
	<form method="post" action="/question/">
		{% csrf_token %}

		<input type="hidden" name="id" value="{{ id }}">
		<input type="hidden" name="correct" value="{{ correct }}">
  		<button type="submit" class="btn btn-outline-danger px-5">Weiter</button>
	</form>
	</div>
<br>
{% endif %}
{% comment %}	{{ correct }} <br>
	{{ answer_given }} <br>
	{{ correct_answer }} <br>{% endcomment %}
{% endblock %}