{% extends "components/base.html" %}
{% load static %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-2">
		<div class="container-fluid justify-content-center">
			<button class="navbar-toggler justify-content-center bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon mx-5 "></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link disabled" current="true" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" current="true" href="#features">Funktionen</a>
                </li>
                <li class="nav-item ">
                    <a type="button" href="/accounts/profile" class="btn btn-primary ">Zur App 🚀</a>
                </li>
            </ul>
        </div>
		</div>
    </nav>
{% endblock %}
{% block content %}

	<div class="text-center logo-animate">
		<img class="img-fluid thumbnail" alt="Funktrainer Logo" src="{%static "images/logo.svg"  %}">
	</div>
	<div class="text-center">
		<h1>Amateurfunktrainer</h1>
		<p class="lead m-2">
			Ein blitzschneller und portabler Trainer im Web und in der App.
		</p>
	</div>
	<br>

	<img alt="verschiedene Geräte mit der Funktrainer Android APP" src="{% static "images/Frame1.webp" %}" class="img-fluid float-center rounded mx-auto d-block">
	<div class="container px-4 py-5" id="featured-3">
		<h2 class="pb-2 border-bottom" id="features">Funktionen</h2>
		<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			<div class="feature col " >
				<div class="feature-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="70" fill="currentColor" class="bi bi-clock-history"
						viewBox="0 0 16 16">
						<path
							d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
						<path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
						<path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
					</svg>
				</div>
				<br>
				<h2>Schnell</h2>
				<p>Im Hintergrund des Amateurfunktrainers sorgt Flutter für eine blitzschnelle Performance. Das wird durch compeliereung in nativen Platformcode garaniert. Im Web verzichten wir ganz auf langsamen Javascript Code und setzen auf den Server der die Anfragen in Millisekunden verarbeiten kann. </p>

				</a>
			</div>
			<div  class="feature col">
				<div class="feature-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="70"fill="currentColor" class="bi bi-aspect-ratio-fill"
						viewBox="0 0 16 16">
						<path
							d="M0 12.5v-9A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5zM2.5 4a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 1 0V5h2.5a.5.5 0 0 0 0-1h-3zm11 8a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-1 0V11h-2.5a.5.5 0 0 0 0 1h3z" />
					</svg>
				</div>
				<br>
				<h2>Flexibel</h2>
				<p>Der Amateurfunktrainer ist nicht nur im Web verfügbar sondern auch nativ auf IOS, Andriod, Windows, Macos und auch Linux verfügbar. Durch diese Abdeckung passt sich der Trainer an ihre Bedürfnisse an und sorgt so für effektives Lernen ab der Installation. </p>

			</div>
			<div class="feature col">
				<div class="feature-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="70"  fill="currentColor" class="bi bi-git"
						viewBox="0 0 16 16">
						<path
							d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457" />
					</svg>
				</div>
				<br>

				<h2>Offen</h2>
				<p>Wir setzen ganz im Sinne des Hamspirits auf offene Komponenten unseres Codes um Vertrauen und Sicherheit zu schaffen.</p>
			</div>
		</div>
	</div>
	<div class="container px-4 py-5" id="featured-3">
	<h2 class="pb-2 border-bottom">Aktuelle Informationen</h2>
		<br>
	<div class="row justify-content-center">
		{% for i in news %}
		<div class="col-sm-6">
		<div class="card ">
			<div class="card-header">
				{{ i.category }}
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ i.title }}</h5>
				<p class="card-text"> {{ i.content }}</p>
			</div>

		</div>
		</div>

		{% endfor %}
	</div>
	</div>

{% endblock content %}